@{
    ViewData["Title"] = "Reset Password";
    Layout = "NewLayout";
}
@model Services.ViewModels.ResetPasswordVM
<Partial name="_Notification" />
<div class="bg-img">
    <img src="~/images/11116016_415.jpg" alt="">
</div>
<div class="container-fluid">
    <div class="moon">
        <button id="darkmode" onclick="dark()">
            <img src="~/images/image_2024_01_17T04_17_17_762Z.png" alt="error">
        </button>
    </div>
    <div class="hallodoc">
        <img src="~/images/image_2024_01_17T04_17_17_750Z.png" alt="">
    </div>
    <div class="login">
        <div class="back">
            <h2>Reset Your Password</h2>
            <form asp-action="changepassword" asp-controller="Home" type="post" asp-route-id="@Model.Email">
                <div class="form-floating mt-4">
                    <input asp-for="@Model.Password" id="togpass" type="password" class="form-control" placeholder="Password">
                    <label for="togpass">Password</label>
                    <span asp-validation-for="Password" id="passwordWarning" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 mt-4">
                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="floatingInput" placeholder="Confirm Password">
                    <label for="floatingInput">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="button mt-4 logbtn">
                    <button id="submitbtn" type="button">Reset</button>
                </div>
            </form>
        </div>
        <footer>
            <a href="#">Terms Of Conditions</a>
            &nbsp | &nbsp
            <a href="#">Privacy Policy</a>
        </footer>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('#togpass').on('input', function () {
        if ($('#togpass').val() == "") {
            $('#passwordWarning').html("*Please enter password")
        }
        else {
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%#*?&])[A-Za-z\d@@$!#%*?&]{8,}$/

            if (!regex.test($('#togpass').val())) {
                $('#passwordWarning').html("*Password should contain atleast one number , one alphabet , one special character and having length minimum 8.");

            } else {
                $('#passwordWarning').html("");
            }
        }
    });
    $('#submitbtn').on('click', function () {
        if ($('#togpass').val() != "" && $('#passwordWarning').text() == "") {
            $('#submitbtn').prop('type', 'submit');
            $('#submitbtn').click();
        }
    });
</script>