@{
    ViewData["Title"] = "Reset Password";
    Layout = "NewLayout";
}
@model Services.ViewModels.ResetPasswordVM
<Partial name="_Notification" />
<div class="bg-img">
    <img src="~/images/11116016_415.jpg" alt="">
</div>
<div class="container-fluid">
    <div class="moon">
        <button id="darkmode" onclick="dark()">
            <img src="~/images/image_2024_01_17T04_17_17_762Z.png" alt="error">
        </button>
    </div>
    <div class="hallodoc">
        <img src="~/images/image_2024_01_17T04_17_17_750Z.png" alt="">
    </div>
    <div class="login">
        <div class="back">
            <h2>Reset Your Password</h2>
            <form asp-action="changepassword" asp-controller="Home" type="post" asp-route-id="@Model.Email">
                <div class="form-floating mt-4">
                    <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Password">
                    <label for="togpass">Password</label>
                </div>
                <div class="form-floating mb-3 mt-4">
                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="floatingInput" placeholder="Confirm Password">
                    <label for="floatingInput">Confirm Password</label>
                </div>
                <div class="button mt-4 logbtn">
                        <button type="submit">Reset</button>
                </div>
            </form>
        </div>
        <footer>
            <a href="#">Terms Of Conditions</a>
            &nbsp | &nbsp
            <a href="#">Privacy Policy</a>
        </footer>
    </div>
</div>
