@{
    ViewData["Title"] = "Submit Request";
}
<div class="container text-center mt-5">
        <div class="head">
            <h1 style="font-family: cursive;">I am a...</h1>
            <a asp-controller="Home" asp-action="patientsite" style="text-decoration: none;" class="backimg">
                <img src="~/images/image_2024_01_17T04_17_17_757Z.png" alt="">
                <span>Back</span>
            </a>
        </div>
        <div class="buttons">
            <a asp-controller="Home" asp-action="patientreq" class="txt1">PATIENT</a>
            <a asp-controller="Home" asp-action="FamilyFriendReq" class="txt2">FAMILY/FRIEND</a>
            <a asp-controller="Home" asp-action="ConciergeReq" class="txt3">CONCIERGE</a>
            <a asp-controller="Home" asp-action="BusinessInfo" class="txt4">BUSINESS PARTNERS</a>
        </div>

    </div>
