@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "PhysicianLayout/_PhysicianDashboard";
}
@using Data.DataModels;
@model Services.ViewModels.NewStateData
<Partial name="_Notification" />


<div class="tab-content mt-4">
    <ul class="nav nav-tabs d-flex justify-content-around" id="ViewcaseRemove" role="tablist">
        <li class="nav-item card bg-body-secondary" role="presentation">
            <button class="nav-link active state New boxshadow" id="New-tab" data-bs-toggle="tab" data-bs-target="#New-tab-pane"
                    type="button" role="tab" aria-controls="New-tab-pane" aria-selected="false">
                <div class="h5"><i class="bi bi-person-plus me-3 icon"></i>NEW</div>
                <h5>@Model.newcount</h5>
            </button>
        </li>
        <li class="nav-item card bg-body-secondary" role="presentation">
            <button class="nav-link state Pending boxshadow" id="Pending-tab" data-bs-toggle="tab" data-bs-target="#Pending-tab-pane"
                    type="button" role="tab" aria-controls="Pending-tab-pane" aria-selected="false">
                <div class="h5"><i class="bi bi-person me-3 icon"></i>PENDING</div>
                <h5>@Model.pendingcount</h5>
            </button>
        </li>
        <li class="nav-item card bg-body-secondary" role="presentation">
            <button class="nav-link state Active boxshadow" id="Active-tab" data-bs-toggle="tab" data-bs-target="#Active-tab-pane"
                    type="button" role="tab" aria-controls="Active-tab-pane" aria-selected="false">
                <div class="h5"><i class="bi bi-check2-circle me-3 icon"></i>ACTIVE</div>
                <h5>@Model.activecount</h5>
            </button>
        </li>
        <li class="nav-item card bg-body-secondary" role="presentation">
            <button class="nav-link state Conclude boxshadow" id="Conclude-tab" data-bs-toggle="tab" data-bs-target="#Conclude-tab-pane"
                    type="button" role="tab" aria-controls="Conclude-tab-pane" aria-selected="false">
                <div class="h5"><i class="bi bi-clock-history me-3 icon"></i>CONCLUDE</div>
                <h5>@Model.concludecount</h5>
            </button>
        </li>
    </ul>
    <div class="container-fluid mt-4" id="alldata">
        <div class="d-flex flex-wrap justify-content-between">
            <h4 class="mt-2">Patients (<span class="headstatus"></span>)</h4>
            <div class="allbtn d-flex">
                <button class="btn btn-info text-white ms-1 d-flex align-items-center boxshadowbtn" data-bs-toggle="modal" data-bs-target="#SendLinkModal">
                    <i class="bi bi-send me-1"></i>
                    <span class="d-none d-md-block">
                        Send Link
                    </span>
                </button>
                <a asp-action="AdminCreateReq" asp-controller="Admin" class="btn btn-info text-white ms-1 d-flex align-items-center boxshadowbtn">
                    <i class="bi bi-journal-text me-1"></i>
                    <span class="d-none d-md-block">
                        Create Request
                    </span>
                </a>
            </div>
        </div>
        <div class="tablehead mt-4 d-flex flex-wrap justify-content-between bg-white lightmode boxshadow rounded">
            <div class="d-flex flex-wrap align-items-center">
                <div class="searchbar ms-2">
                    <input id="myInput" style="padding-left : 30px;position: relative;top: 13px;border:1px solid" class="form-control me-2" type="search" placeholder=" Search Patients" aria-label="Search">
                    <i class="bi bi-search searchicon1"></i>
                </div>
            </div>
            <div class="d-flex flex-wrap mt-3">
                <div type="radio" class="ms-3 mb-3 me-3 requestby d-none d-md-inline-block" id="requestbyAll" style="cursor : pointer">
                    All
                </div>
                <div class="d-flex flex-wrap">
                    <div class="ms-3 me-3 requestby" id="1" style="cursor : pointer"><span class="dot" style="Background-color : green;"></span> Patient</div>
                    <div class="ms-3 me-3 requestby" id="2" style="cursor : pointer"><span class="dot" style="Background-color : darkorange;"></span> Family/Friend</div>
                    <div class="ms-3 me-3 requestby" id="3" style="cursor : pointer"><span class="dot" style="Background-color : hotpink;"></span> Business</div>
                    <div class="ms-3 me-3 requestby" id="4" style="cursor : pointer"><span class="dot" style="Background-color : dodgerblue;"></span> Concierge</div>
                    <div class="ms-3 me-3 requestby" id="5" style="cursor : pointer"><span class="dot" style="Background-color : mediumpurple;"></span> Vip</div>
                </div>
            </div>
        </div>
        <div class="tab-content mt-4" id="status-tabContent">
        </div>
    </div>


    @*Send Link*@
    <div class="modal fade" id="SendLinkModal" tabindex="-1" aria-labelledby="SendLinkModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="SendLinkModal">Send mail to patient for submitting request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-action="SendLink" asp-controller="Dashboard">
                    <div class="modal-body">

                        <div class="form-floating mb-3">
                            <input asp-for="firstname" type="text" class="form-control" id="floatingInput" placeholder="FirstName">
                            <label for="floatingInput">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="lastname" type="text" class="form-control" id="floatingInput" placeholder="Name">
                            <label for="floatingInput">Last Name</label>
                        </div>
                        <div class="mb-3 numcountry">
                            <select name="country" id="country2" class="country" onchange="country_code2()">
                                <option value="select country">select country</option>
                                <option value="us">US</option>
                                <option value="uk">UK</option>
                                <option value="br">BRAZIL</option>
                                <option value="ind">INDIA</option>
                            </select>
                            <input asp-for="phonenumber" type="tel" class="form-control output" id="output2" placeholder="Mobile Number">
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="emaill" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info text-white">Send</button>
                        <button type="button" class="btn btn-outline-info ms-1" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    document.getElementById('Home-tab').classList.add('active');
    $(document).ready(function () {
        var backbtntarget = localStorage.getItem('state');
        var status;
        var url = "";
        switch (backbtntarget) {
            case 'new':
                $('#New-tab').trigger('click');
                url = '/Physician/NewStatePhy';
                $('.headstatus').text('New');
                status = '1';
                break;
            case 'pending':
                $('#Pending-tab').trigger('click');
                url = '/Physician/PendingStatePhy';
                $('.headstatus').text('Pending');
                status = '2';
                break;
            case 'active':
                $('#Active-tab').trigger('click');
                url = '/Physician/ActiveStatePhy';
                $('.headstatus').text('Active');
                status = '4';
                break;
            case 'conclude':
                $('#Conclude-tab').trigger('click');
                url = '/Physician/ConcludeStatePhy';
                $('.headstatus').text('Conclude');
                status = '6';
                break;
            default:
                $('#New-tab').trigger('click');
                url = '/Physician/NewStatePhy';
                $('.headstatus').text('New');
                status = '1';
        }
        var search;
        $('#myInput').keyup(function () {
            search = $('#myInput').val();
            searchajax();
        });

        var pagereqtype;
        var globalregion = 0;
        var currentpage = 1;
        $.ajax({
            url: url,
            success: function (response) {
                $('#status-tabContent').html(response);
                var page = document.getElementById("page-1");
                if (page != null) {
                    page.style.backgroundColor = "lightblue";
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
        $('.state').click(function (e) {
            e.preventDefault();
            //$('.dashboardtab').removeClass('active');
            //$(this).addClass('active');
            var target = $(this).data('bs-target');
            switch (target) {
                case '#New-tab-pane':
                    url = '/Physician/NewStatePhy';
                    localStorage.setItem('state', 'new');
                    status = '1';
                    $('.headstatus').text('New');
                    break;
                case '#Pending-tab-pane':
                    url = '/Physician/PendingStatePhy';
                    localStorage.setItem('state', 'pending');
                    status = '2';
                    $('.headstatus').text('Pending');
                    break;
                case '#Active-tab-pane':
                    url = '/Physician/ActiveStatePhy';
                    localStorage.setItem('state', 'active');
                    status = '4';
                    $('.headstatus').text('Active');
                    break;
                case '#Conclude-tab-pane':
                    url = '/Physician/ConcludeStatePhy';
                    localStorage.setItem('state', 'conclude');
                    status = '6';
                    $('.headstatus').text('Conclude');
                    break;
                default:
                    status = '1';
                    url = '/Physician/PhysicianDashboard';
            }
            $.ajax({
                url: url,
                data: { "currentPage": currentpage, "searchkey": search },
                success: function (response) {
                    $('#status-tabContent').html(response);
                    $('#exportstatus').val(status);
                    $('#exportstatusall').val(status);
                    globalregion = 0;
                    var page = document.getElementById("page-1");
                    if (page != null) {
                        page.style.backgroundColor = "lightblue";
                    }
                    $('.requestby').each(function () {
                        $(this).removeClass('border-bottom border-info');
                    });

                    $('#exportreqtype').val("");
                    $('#exportregion').val("Select Region");
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.requestby').on('click', function (e) {
            e.preventDefault();
            //$('.dashboardtab').removeClass('active');
            //$(this).addClass('active');
            var target = $(this).attr('id');
            var requesttype;
            $('.requestby').each(function () {
                $(this).removeClass('border-bottom border-info');
            });
            $(this).addClass('border-bottom border-info');
            //console.log(target);
            switch (target) {
                case '1':
                    curstatus = status;
                    requesttype = '1';
                    break;
                case '2':
                    curstatus = status;
                    requesttype = '2';
                    break;
                case '3':
                    curstatus = status;
                    requesttype = '4';
                    break;
                case '4':
                    curstatus = status;
                    requesttype = '3';
                    break;
                default:
                    curstatus = status;
            }
            pagereqtype = requesttype;
            //console.log("hii" + curstatus);
            switch (curstatus) {
                case '1':
                    url = '/Physician/NewStatePhy';
                    break;
                case '2':
                    url = '/Physician/PendingStatePhy';
                    break;
                case '4':
                    url = '/Physician/ActiveStatePhy';
                    break;
                case '6':
                    url = '/Physician/ConcludeStatePhy';
                    break;
                default:
                    url = '/Physician/NewStatePhy';
            }
            $.ajax({
                url: url,
                data: { "status": curstatus, "reqtypeid": requesttype, "currentPage": currentpage, "searchkey": search },
                success: function (response) {
                    $('#status-tabContent').html(response);
                    $('#exportreqtype').val(requesttype);
                    $('#exportseach').val(search);
                    var page = document.getElementById("page-1");
                    if (page != null) {
                        page.style.backgroundColor = "lightblue";
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        function searchajax() {
            $.ajax({
                url: url,
                data: { "status": status, "regionid": globalregion, "reqtypeid": pagereqtype, "currentPage": currentpage, "searchkey": search },
                success: function (response) {
                    $('#status-tabContent').html(response);
                    $('#exportregion').val(globalregion);
                    $('#exportseach').val(search);
                    var page = document.getElementById("page-1");
                    if (page != null) {
                        page.style.backgroundColor = "lightblue";
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    });
</script>