@{
    ViewData["Title"] = "Access Tab";
    Layout = "AdminLayout/_AdminDashboard";
}
<partial name="_Notification" />
@model Services.ViewModels.AccessRoleModal

<div class="container-fluid mt-5 accessdata shadow bg-body-secondory rounded p-3" style="width: 80%;">
    <h4 class="fw-bold">Account Access</h4>
    <div class="btn d-flex justify-content-end bg-white lightmode">
        <button class="btn btn-outline-info createAccess boxshadowbtn">Create Access</button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Account Type</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.roles)
                {
                    <tr>
                        <td class="text-center">
                            @obj.Name
                        </td>
                        <td class="text-center">
                            @if (obj.Accounttype == 1)
                            {
                                <span>Admin</span>
                            }
                            else
                            {
                                <span>Physician</span>
                            }
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-outline-info editrole boxshadowbtn" name="@obj.Roleid">Edit</button>
                            <button type="button" class="btn btn-outline-info deleterole boxshadowbtn" name="@obj.Roleid">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    document.getElementById('accesstab').classList.add('active');
    document.getElementById('accesstabDrop').classList.add('active');
    $(document).ready(function () {
        $('.createAccess').on('click', function () {
            $.ajax({
                url: '/Admin/CreateRole',
                success: function (response) {
                    $('.accessdata').html(response);
                },
            });
        });
        $('.editrole').on('click', function () {
            var roleid = $(this).attr('name');
            $.ajax({
                url: '/Admin/EditRole',
                data: { 'roleid': roleid },
                success: function (response) {
                    $('.accessdata').html(response);
                },
            });
        });
        $('.deleterole').on('click', function (e) {
            var roleid = $(this).attr('name');
            swal.fire({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: '/Admin/DeleteRole',
                        data: { 'roleid': roleid },
                        success: function (response) {
                            window.location.reload();
                        },
                    });
                } else {
                    console.log('Cancelled!');
                }
            });
        });
        //$('.deleterole').on('click', function () {
        //    var roleid = $(this).attr('name');
        //    $.ajax({
        //        url: '/Admin/DeleteRole',
        //        data: { 'roleid': roleid },
        //        success: function (response) {
        //            window.location.reload();
        //        },
        //    });
        //});
    });
</script>