@{
    ViewData["Title"] = "Admin Dqashboard";
    Layout = "AdminLayout/_AdminDashboard";
}
<Partial name="_Notification" />
<div class="tabnav mt-2 bg-white">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                Dashboard
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="location-tab" data-bs-toggle="tab" data-bs-target="#location-tab-pane"
                    type="button" role="tab" aria-controls="location-tab-pane" aria-selected="false">
                Provider Location
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                My Profile
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Providers-tab" data-bs-toggle="tab" data-bs-target="#Providers-tab-pane"
                    type="button" role="tab" aria-controls="Providers-tab-pane" aria-selected="false">
                Providers
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Partners-tab" data-bs-toggle="tab" data-bs-target="#Partners-tab-pane"
                    type="button" role="tab" aria-controls="Partners-tab-pane" aria-selected="false">
                Partners
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Access-tab" data-bs-toggle="tab" data-bs-target="#Access-tab-pane"
                    type="button" role="tab" aria-controls="Access-tab-pane" aria-selected="false">
                Access
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Records-tab" data-bs-toggle="tab" data-bs-target="#Records-tab-pane"
                    type="button" role="tab" aria-controls="Records-tab-pane" aria-selected="false">
                Records
            </button>
        </li>
    </ul>
</div>
<div class="tab-content mt-4" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <Partial name="AdminLayout/_dashboardtab" />
    </div>
    <div class="tab-pane fade" id="location-tab-pane" role="tabpanel" aria-labelledby="location-tab" tabindex="0">
        2
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        3
    </div>
    <div class="tab-pane fade" id="Providers-tab-pane" role="tabpanel" aria-labelledby="Providers-tab" tabindex="0">
        4
    </div>
    <div class="tab-pane fade" id="Partners-tab-pane" role="tabpanel" aria-labelledby="Partners-tab" tabindex="0">
        5
    </div>
    <div class="tab-pane fade" id="Access-tab-pane" role="tabpanel" aria-labelledby="Access-tab" tabindex="0">
        6
    </div>
    <div class="tab-pane fade" id="Records-tab-pane" role="tabpanel" aria-labelledby="Records-tab" tabindex="0">
        7
    </div>
</div>
