@{
    ViewData["Title"] = "Records Tab";
    Layout = "AdminLayout/_AdminDashboard";
}
@model Services.ViewModels.RecordstabModal
<partial name="_Notification" />

<div class="container-fluid mt-3 dashboard shadow p-3 rounded">
    <h5 class="fw-bold">Patient Histroy</h5>
    <form id="recordsForm">
        <input asp-for="currentpage" id="curpageinput" type="hidden"/>
        <div class="mt-3 p-2 bg-white boxshadow rounded">
            <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="firstname" type="text" class="form-control" placeholder="firstname">
                        <label for="floatingInput">First Name</label>
                    </div>

                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="lastname" type="text" class="form-control" placeholder="lastname">
                        <label for="floatingInput">Last Name</label>
                    </div>

                </div>
                <div class="col">

                    <div class="form-floating mb-3">
                        <input asp-for="email" type="email" class="form-control" placeholder="email">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="phonenumber" type="text" class="form-control" placeholder="phone">
                        <label for="floatingInput">Phone Number</label>
                    </div>

                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="reset" class="btn btn-outline-info me-1 boxshadowbtn" onclick="ResetFormWithJS()">Clear</button>
                <button type="submit" class="btn btn-info text-white boxshadowbtn">Search</button>
            </div>
        </div>
    </form>
    <div class="table-responsive mt-3 recordstable">
        <partial name="AdminLayout/_RecordstabTable" />
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function ResetFormWithJS() {
        document.getElementById('recordsForm').reset();
        document.getElementById('curpageinput').disabled = false;
    }
    document.getElementById('Records-tab').classList.add('active');
    document.getElementById('patientrecord').classList.add('active');
    $(document).ready(function(){
        $("#recordsForm").submit(function (e) {
            e.preventDefault();
            var form = $(this); 

            $.ajax({
                type: "POST", 
                url: '/Admin/RecordsTable',
                data: form.serialize(),
                success: function (data) {
                    $('.recordstable').html(data);
                }
            });
        });
    });
</script>