@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en" style="min-height:100vh;position:relative;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://kit.fontawesome.com/ad6c7bb1f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/PatientDashboard.css">
    <link rel="stylesheet" href="~/css/SubmitReqScreen.css">
    <link rel="stylesheet" href="~/css/patientreq.css">
    <link rel="stylesheet" href="~/css/AdminDashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <title>Document</title>
</head>
<Partial name="_Notification" />
<body class="bg-body-secondary" data-bs-theme="light">
    <nav class="navbar bg-white lightmode">
        <div class="container-fluid uppernav bg-white lightmode" style="border : none">
            <a class="navbar-brand ms-2" href="#">
                <img class="d-none d-md-inline-block" src="~/images/image_2024_01_17T04_17_17_750Z.png" alt="Bootstrap" width="120" height="80">
                <p class="d-md-none mt-3">
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </p>
            </a>
            <div class="navbar-brand ms-2 d-flex" href="#">
                <span class="me-2 d-none d-md-block">Welcome @HttpContextAccessor.HttpContext!.Session.GetString("Adminname")</span>
                <a asp-controller="Admin" asp-action="adminlogout" style="display:contents">
                    <button type="button" class="btn btn-outline-info logouttext boxshadowbtn">Log Out</button>
                    <button type="button" class="btn btn-outline-info logouticon boxshadowbtn"><i class="bi bi-box-arrow-right"></i></button>
                </a>
                <button class="ms-3" id="darkmode" onclick="darktoggle()">
                    <img src="~/images/image_2024_01_17T04_17_17_762Z.png" alt="error">
                </button>
            </div>
        </div>
    </nav>
    <div class="tabnav bg-white lightmode">
        <div class="collapse show" id="collapseExample">
            <div class="card card-body">
                <ul class="nav nav-tabs d-block d-md-flex" id="myTab" role="tablist" style="box-shadow: 1px 1px 5px;">
                    <li class="nav-item" role="presentation">
                        <a asp-action="AdminDashboard" asp-controller="Admin" class="nav-link" id="home-tab">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a asp-action="LocationTab" asp-controller="Admin" class="nav-link" id="location-tab">
                            Provider Location
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profiletab" asp-action="Profiletab" asp-controller="Admin">
                            My Profile
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" id="providertab" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Providers
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item nav-link" id="providerdrop" asp-action="Providertab" asp-controller="Admin">Provider</a></li>
                                <li><a class="dropdown-item nav-link" id="schedulingdrop" asp-action="Scheduling" asp-controller="Admin">Scheduling</a></li>
                                <li><a class="dropdown-item nav-link" href="#">Invoicing</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a asp-action="PartnersTab" asp-controller="Admin" class="nav-link" id="Partners-tab">
                            Partners
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link dropdown-toggle" id="accesstab" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Access
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-link" id="accesstabDrop" asp-action="AccessTab" asp-controller="Admin">Acsess</a></li>
                            <li><a class="dropdown-item nav-link" id="useraccess" asp-action="UserAccess" asp-controller="Admin">User Acsess</a></li>
                            <li><a class="dropdown-item nav-link" id="adminacc" asp-action="CreateAdminAcc" asp-controller="Admin">Create Admin Account</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link dropdown-toggle" id="Records-tab" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Records
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-link" id="searchrecord" asp-action="SearchRecords" asp-controller="Admin">Search Records</a></li>
                            <li><a class="dropdown-item nav-link" id="emaillogs" asp-action="EmailLogs" asp-controller="Admin">Email Logs</a></li>
                            <li><a class="dropdown-item nav-link">SMS Logs</a></li>
                            <li><a class="dropdown-item nav-link" id="patientrecord" asp-action="Recordstab" asp-controller="Admin">Patient Records</a></li>
                            <li><a class="dropdown-item nav-link" id="blockhistory" asp-action="BlockHistory" asp-controller="Admin">Blocked History</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer" style="position:absolute;bottom:-50px;">
        <a href="#">Terms Of Condition</a>
        &nbsp; | &nbsp;
        <a href="#">Privacy Policy</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
