@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en" style="min-height:100vh;position:relative;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://kit.fontawesome.com/ad6c7bb1f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/PatientDashboard.css">
    <link rel="stylesheet" href="~/css/SubmitReqScreen.css">
    <link rel="stylesheet" href="~/css/patientreq.css">
    <link rel="stylesheet" href="~/css/AdminDashboard.css">
    <title>Document</title>
</head>
<Partial name="_Notification" />
<body class="bg-body-secondary" data-bs-theme="light">
    <nav class="navbar bg-white">
        <div class="container-fluid uppernav" style="border : none">
            <a class="navbar-brand ms-2" href="#">
                <img class="d-none d-md-inline-block" src="~/images/image_2024_01_17T04_17_17_750Z.png" alt="Bootstrap" width="120" height="80">
            <p class="d-md-none mt-3">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa-solid fa-bars"></i>
                </button>
            </p>
            </a>
            <div class="navbar-brand ms-2 d-flex" href="#">
                <span class="me-2 d-none d-md-block">Welcome @HttpContextAccessor.HttpContext.Session.GetString("Adminname")</span>
                <a asp-controller="Admin" asp-action="adminlogout" style="display:contents">
                    <button type="button" class="btn btn-outline-info logouttext">Log Out</button>
                    <button type="button" class="btn btn-outline-info logouticon"><i class="bi bi-box-arrow-right"></i></button>
                </a>
                <button class="ms-3" id="darkmode" onclick="dark()">
                    <img src="~/images/image_2024_01_17T04_17_17_762Z.png" alt="error">
                </button>
            </div>
        </div>
    </nav>
    <div class="collapse" id="collapseExample">
        <div class="card card-body d-md-none d-block">
            <ul class="nav nav-tabs d-block" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" asp-action="AdminDashboard" asp-controller="Admin">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="location-tab" data-bs-toggle="tab" data-bs-target="#location-tab-pane"
                            type="button" role="tab" aria-controls="location-tab-pane" aria-selected="false">
                        Provider Location
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" asp-action="Profiletab" asp-controller="Admin">
                        My Profile
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Providers-tab" data-bs-toggle="tab" data-bs-target="#Providers-tab-pane"
                            type="button" role="tab" aria-controls="Providers-tab-pane" aria-selected="false">
                        Providers
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Partners-tab" data-bs-toggle="tab" data-bs-target="#Partners-tab-pane"
                            type="button" role="tab" aria-controls="Partners-tab-pane" aria-selected="false">
                        Partners
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Access-tab" data-bs-toggle="tab" data-bs-target="#Access-tab-pane"
                            type="button" role="tab" aria-controls="Access-tab-pane" aria-selected="false">
                        Access
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Records-tab" data-bs-toggle="tab" data-bs-target="#Records-tab-pane"
                            type="button" role="tab" aria-controls="Records-tab-pane" aria-selected="false">
                        Records
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer" style="position:absolute;bottom:-35px;">
        <a href="#">Terms Of Condition</a>
        &nbsp; | &nbsp;
        <a href="#">Privacy Policy</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
